.library-name a {
    position: relative;
    margin-left: 80px;
    margin-right:auto;
}

.library-name a::before {
    content: '';
    background: url("../images/AAM.png") center no-repeat;
    background-size: 100px;
    position: absolute;
    margin-right: 100px;
    width: 95px;
    height: 67px;
    top: -23px;
    left: -55px;
}